@import 'bootstrap';

nav {

  background-color: #6D3B2E;

  a {
    color: white;
    margin: 0 15px 0 15px;

    &:hover {
      color: #4E8DF1;
    }
  }
}

body {
  background-color: #9EADD6;
  padding: 10px;
}

td {
  border-left: solid 1px #EDF1FC;
  border-right: solid 1px #EDF1FC;

  padding: 10px;
}

.container {
  text-align: center;
}
